<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_book.css">
    <title>Autore</title>
</head>
<body>
    <div class="header">
        <h1>Author</h1>
        <a href="/admin/author">Ritorna alla lista degli autori</a>
        <span th:if="${author}">
            <a th:href="@{/admin/modificaAuthor/{id}(id=${author.id})}">Modifica Autore</a>
        </span>
        <form th:action="@{/admin/deleteAuthor/{id}(id=${author.id})}" method="get" style="display:inline;">
            <button type="submit">Elimina</button>
        </form>
    </div>
    <div th:if="${author}">
        <h1 th:text="${author.name} + ' ' + ${author.surname}">Nome Cognome</h1>
        <p>Anno di nascita: <span th:text="'(' + ${author.birth} + ')'">01/01/2000</span></p>
        <p th:if="${author.death != null}">Anno di morte: <span th:text="'(' + ${author.death} + ')'">01/01/2020</span></p>
        <div th:if="${author.image != null}">
            <img th:src="@{'/uploads/author/' + ${author.image}}" alt="Immagine Autore" width="150" />
        </div>
    </div>
</body>
</html>