<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_authors.css">
    <title>Autori</title>
</head>
<body>
    <div class="header">
        <h1>Authors</h1>
        <a th:href="@{/admin/formNewAuthor}">Aggiungi un nuovo autore</a>
    </form>
    </div>   
    <div class="author-list">
        <div class="author-card" th:each="author : ${authors}">
            <a th:href="@{'/admin/author' + '/'+ ${author.id}}">
                <img th:src="@{'/uploads/author/' + ${author.image}}" alt="Foto di [[${book.name}]] [[${author.surname}]]" class="author-image">
                <h2 th:text="${author.name + ' ' + author.surname}">Nome Cognome</h2>
            </a>
        </div>
    </div>

    <div id="no-author" th:if="${authors.isEmpty()}">
        <p>Nessun autore trovato.</p>
    </div>
</html>