<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_form.css">
    <title>New Book</title>
</head>
<body>
    <header class="navbar">
        <div class="logo">
            <img src="/images/logo_siw_books.png" alt="Logo SIW Books">
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="/indexAdmin">Home</a></li>
                <li><a href="/admin/book">Libri</a></li>
                <li><a href="/admin/author">Autori</a></li>
                <li><a href="/account">Account</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    <div class="content">
        <h1>Aggiungi un Nuovo Libro</h1>
        <div class="form-box">
            <form th:action="${book.id} != null ? @{/admin/book/{id}(id=${book.id})} : @{/admin/book}"
                method="POST"
                th:object="${book}"
                enctype="multipart/form-data">

                <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
                <div class="input-group">
                    <label>Titolo:</label>
                    <span><input type="text" id="title" placeholder="title" required th:field="*{title}" /></span>
                    <span th:if="${#fields.hasErrors('title')}" class="error-message">
                        <p th:errors="*{title}">Titolo non valido</p>
                    </span>
                </div>
                <div class="input-group">
                    <label>Anno di Pubblicazione:</label>
                    <span><input type="number" id="year" placeholder="year" required th:field="*{year}" /></span>
                    <span th:if="${#fields.hasErrors('year')}" class="error-message">
                        <p th:errors="*{year}">Anno non valido</p>
                    </span>
                </div>
                <div class="input-group">
                    <label>Immagini:</label>
                    <div>
                        <label class="custom-file-upload">
                        Scegli Immagini
                        <input type="file" name="bookImages" accept="image/*" multiple id="fileInput" />
                        </label>
                    </div>
                    <div id="preview" class="image-preview"></div> <!-- Qui verranno mostrate le immagini -->
                </div>
                <button type="submit">Aggiungi Libro</button>
            </form>
        </div>
        
        <button type="button" onclick="location.href='/admin/book'">Annulla</button>
    </div>
    <script>
        const fileInput = document.getElementById('fileInput');
        const preview = document.getElementById('preview');

        fileInput.addEventListener('change', function () {
            preview.innerHTML = ''; // Pulisce eventuali anteprime precedenti

            const files = Array.from(fileInput.files);

            files.forEach(file => {
            if (file.type.startsWith('image/')) {
                const reader = new FileReader();

                reader.onload = function (e) {
                const img = document.createElement('img');
                img.src = e.target.result;
                preview.appendChild(img);
                };

                reader.readAsDataURL(file);
            }
            });
        });
    </script>

</body>
</html>