<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_index.css">
    <title>Index</title>
</head>
<body>
  <header class="navbar">
    <div class="logo">
      <img src="/images/logo_siw_books.png" alt="Logo SIW Books" />
    </div>
     <nav>
        <ul class="nav-links">
            <li><a href="/account">Account</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
  </header>
  <div class="content">
    <div class="form-box">
      <h1>Benvenuto in SIW Books!</h1>

      <div class="actions">
        <h3>📖 Scopri la nostra collezione di libri</h3>
        <button class="action-btn" onclick="location.href='/user/book'">Libri</button>

        <h3>✍️ Conosci i nostri autori</h3>
        <button class="action-btn" onclick="location.href='/user/author'">Autori</button>
      </div>
    </div>
  </div>
</body>
</html>