<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_register.css">
    <title>Registrazione</title>
</head>
<body>
    <header class="navbar">
        <div class="logo">
            <img src="/images/logo_siw_books.png" alt="Logo SIW Books">
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="/indexUser">Home</a></li>
                <li><a href="/user/book">Libri</a></li>
                <li><a href="/user/author">Autori</a></li>
                <li><a href="/user/account">Account</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    <div class="content" >
        <h1>Modifica il tuo profilo</h1>
        <div class="form-box">
            <form th:action="@{/user/account}" method="POST" th:object="${credentials}">
                <!-- ID nascosti -->
                <input type="hidden" th:field="*{id}" />
                <input type="hidden" th:field="*{user.id}" />   
                <input type="hidden" th:field="*{role}" />
                <!-- Campi del form -->
                <div class="input-group">
                    <label for="name">Nome:</label>
                    <span><input type="text" id="name" placeholder="name" required th:field="*{user.name}" /></span>
                    <span th:if="${#fields.hasErrors('user.name')}" class="error-message">
                        <p th:errors="*{user.name}">Nome non valido</p></span>
                </div>
                <div class="input-group">
                    <label for="surname">Cognome:</label>
                    <span><input type="text" id="surname" placeholder="surname" required th:field="*{user.surname}" /></span>
                    <span th:if="${#fields.hasErrors('user.surname')}" class="error-message">
                        <p th:errors="*{user.surname}">Cognome non valido</p></span>
                </div>
                <div class="input-group">
                    <label for="email">Email:</label>
                    <span><input type="email" id="email" placeholder="email" required th:field="*{user.email}" /></span>
                    <span th:if="${#fields.hasErrors('user.email')}" class="error-message">
                        <p th:errors="*{user.email}">Email non valida</p></span>
                </div>
                <div class="input-group">
                    <label for="birth">Data di Nascita:</label>
                    <input type="date" id="birth" required 
                           th:field="*{user.birth}" 
                           th:attr="max=${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd')}" />
                    <span th:if="${#fields.hasErrors('user.birth')}" class="error-message">
                        <p th:errors="*{user.birth}">Data di nascita non valida</p>
                    </span>
                </div>
                <div class="input-group">
                    <label for="username">Username:</label>
                    <span><input type="text" id="username" placeholder="Username" required th:field="*{username}" /></span>
                    <span th:if="${#fields.hasErrors('username')}" class="error-message">
                        <p th:errors="*{username}">Username non valido</p></span>
                </div>
                <div class="input-group">
                    <label for="password">Password:</label>
                    <span><input type="password" id="password" placeholder="Password" required th:field="*{password}" /></span>
                    <span th:if="${#fields.hasErrors('password')}" class="error-message">
                        <p th:errors="*{password}">Password non valida</p></span>
                </div>
                <button type="submit">Salva modifiche</button>
            </form>
        </div>
    </div>
</body>
</html>