* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100vh;
  color: #fff;
  font-family: 'Merriweather', serif;
  font-size: 18px; /* aumentato il font base */
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/images/indexImage.webp');
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 17vw;
    height: auto;
    z-index: 10;
}
.logo img {
    width: 100%;
    height: auto;
    display: block;
}


.container-login {
  background-color: #d3a870cb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 66vw;
  border-radius: 0 20px 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
  color: var(--primary);
  text-align: center;
  font-size: 2.5rem; /* aumentato */
  margin-bottom: 2rem;
}

.form-box {
  width: 30em;
  text-align: center;
}

.input-group {
  margin-bottom: 1.5rem;
}
input:focus {
  outline: 2px solid white; /* bordo bianco */
  outline-offset: 2px;       /* leggero spazio tra bordo e input */
  background-color: #a17235b6; /* (opzionale) evidenziazione interna più chiara */
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
}

input {
  width: 100%;
  padding: 1rem;
  border-radius: 20px;
  border: none;
  font-size: 1.1rem;
  background-color: #684f2e81; /* colore di sfondo chiaro */
  color: #ffffff; /* colore del testo */
  
}
input::placeholder {
  color: #ffffffa4; /* colore del testo del placeholder */
}

button {
  width: 60%;
  padding: 1rem;
  background-color: #351514d0;
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}

button:hover {
  background-color: #C1582E;
}

span {
  display: block;
  color: #9C3C2D;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  text-align: center;
}

p {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.1rem;
}

a {
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.container-register {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 34vw;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 20px 0 0 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container-register h2,
.container-register p {
  color: #fff8e1;
  font-size: 1.5rem;
  text-align: center;
}

.container-register button {
  background-color: #220d0cdc;
  color: white;
  width: 60%;
  margin-top: 20px;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.container-register button:hover {
  background-color: #C1582E;
  color: #ffffff;
}
