<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_authors.css">
    <title>Autori</title>
</head>
<body>
    <h1>Autori</h1>      
    <div class="author-list">
        <div class="author-card" th:each="author : ${authors}">
            <a th:href="@{'/author' + '/'+ ${author.id}}">
                <!--Mostra l'immagine se esiste-->
                <img th:if="${author.image != null and author.image.path != null}"
                     th:src="@{'/uploads/' + ${author.image.path}}"
                     alt="Foto di [[${author.title}]]"
                     class="author-image">
                <!--Immagine placeholder se nessuna immagine è presente-->
                <img th:if="${author.image == null or author.image.path == null}"
                     src="/images/default_author.jpg"
                     alt="Nessuna immagine disponibile"
                     class="author-image">
                <h2 th:text="${author.name + ' ' + author.surname}">Nome Cognome</h2>
            </a>
        </div>
    </div>

    <div id="no-author" th:if="${authors.isEmpty()}">
        <p>Nessun autore trovato.</p>
    </div>
</html>