<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_author.css">
    <title>Autore</title>
</head>
<body>
    <header class="navbar">
        <div class="logo">
            <img src="/images/logo_siw_books.png" alt="Logo SIW Books">
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/book">Libri</a></li>
                <li><a href="/author">Autori</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="author" th:if="${author}">
            <h2 th:text="${author.name} + ' ' + ${author.surname}">Nome Cognome</h2>
            <p>Nazionalità: <span th:text="${author.nationality}">Italiano</span></p>
            <p>Anno di nascita: <span th:text="'(' + ${author.birth} + ')'">01/01/2000</span></p>
            <p th:if="${author.death != null}">Anno di morte: <span th:text="'(' + ${author.death} + ')'">01/01/2020</span></p>

            <div th:if="${author.image != null}">
                <img th:src="@{'/uploads/' + ${author.image.path}}" alt="Immagine Autore" width="13%" />
            </div>
            <!-- Sezione libri -->
        <div class="books-section" th:if="${author.books != null and #lists.size(author.books) > 0}">
            <h3>Libri scritti:</h3>
            <div class="books-flex">
            <div class="book-card" th:each="book : ${author.books}">
                <a th:href="@{'/book' + '/'+ ${book.id}}">
                    <!-- Mostra la prima immagine se esiste -->
                    <img th:if="${book.images != null and !book.images.isEmpty()}"
                        th:src="@{'/uploads/' + ${book.images[0].path}}"
                        alt="Copertina di [[${book.title}]]"
                        class="book-image">

                    <!-- Immagine placeholder se nessuna immagine è presente -->
                    <img th:if="${book.images == null or book.images.isEmpty()}"
                        src="/images/default_book.jpg"
                        alt="Nessuna immagine disponibile"
                        class="book-image">

                    <h4 th:text="${book.title}">Titolo del libro</h4>
                    <p th:text="${book.year}">Anno di pubblicazione</p>
                </a>
            </div>
            </div>
        </div>
        <div class="books-section" th:if="${#lists.isEmpty(author.books)}">
            <p>L'autore non ha ancora libri associati.</p>
        </div>
        </section>

        <div class="author" th:unless="${author}">
            <p>Autore non trovato.</p>
        </div>
    </main>
    <div class="author" th:unless="${author}">
            <p>Autore non trovato.</p>
    </div>
    
</body>
</html>