<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <link rel="stylesheet" href="/css/style_book.css">
</head>
<body>
    <header class="navbar">
        <div class="logo">
            <img src="/images/logo_siw_books.png" alt="Logo SIW Books">
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/book">Libri</a></li>
                <li><a href="/author">Autori</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section class="book" th:if="${book}">
            <h2 th:text="${book.title}">Titolo del libro</h2>
            <p><strong>Anno di pubblicazione:</strong> <span th:text="${book.year}">2000</span></p>

            <div th:if="${book.images}">
                <h2>Galleria Immagini</h2>
                    <div th:each="img : ${book.images}" th:if="${img != null}">
                    <img th:src="@{'/uploads/' + ${img.path}}" width="13%" alt="Immagine libro"/>
                </div>
            </div>
        </section>

        <div class="book" th:unless="${book}">
            <p>Libro non trovato.</p>
        </div>

        <section class="reviews" th:if="${reviews}">
            <h3>Recensioni:</h3>
            <div th:each="review : ${reviews}" class="review">
                <h4 th:text="${review.title}">Titolo recensione</h4>
                <p><strong>Voto:</strong> <span th:text="${review.rating}">5</span>/5</p>
                <p th:text="${review.text}">Testo della recensione</p>
                <p><em>Utente:</em> <span th:text="${review.user.name}">Mario Rossi</span></p>
            </div>
        </section>

        <div th:if="${#lists.isEmpty(reviews)}">
            <p>Non ci sono ancora recensioni per questo libro.</p>
        </div>
    </main>
</body>
</html>
