<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_register.css">
    <title>New Book</title>
</head>
<body>
    <div class="container">
        <h1>Aggiungi un Nuovo Libro</h1>
        <form th:action="@{/book}" method="POST" th:object="${book}">
            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
            <div class="input-group">
                <label>Titolo:</label>
                <span><input type="text" id="title" placeholder="title" required th:field="*{title}" /></span>
                <span th:if="${#fields.hasErrors('title')}" class="error-message">
                    <p th:errors="*{title}">Titolo non valido</p>
                </span>
            </div>
            <div class="input-group">
                <label>Anno di Pubblicazione:</label>
                <span><input type="number" id="year" placeholder="year" required th:field="*{year}" /></span>
                <span th:if="${#fields.hasErrors('year')}" class="error-message">
                    <p th:errors="*{year}">Anno non valido</p>
                </span>
            </div>
            <div class="input-group">
                <label>Immagini:</label>
                <input type="file" name="bookImages" accept="image/*" multiple />
            </div>
        </form>
        <button type="submit">Aggiungi Libro</button>
        <button type="button" onclick="location.href='/libri'">Annulla</button>
    </div>
</body>
</html>