<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style_home.css">
    <title>Home Page</title>
</head>
<body>
   <header>
        <h1>Gestisci il tuo profilo</h1>
        <button class="profilo" onclick="location.href='/profilo'">Profilo</button>
   </header>
   <section>
        <div class="libro">
            <h2>📖</h2>
            <button id="libro" onclick="location.href='/book'">Lista libri</button>
            <button id="libro" onclick="location.href='/formNewBook'">Aggiungi libro</button>
        </div>
        <div class="autore">
            <h2>👤</h2>
            <button id="autore" onclick="location.href='/author'">Lista autori</button>
            <button id="autore" onclick="location.href='/formNewAuthor'">Aggiungi autore</button>
   </section>
</html>