<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_index.css">
    <title>Index</title>
</head>
<body>

  <div class="container">
    <div class="logo">
      <img src="/images/logo_siw_books.png" alt="Logo SIW Books">
    </div>
    <div class="welcome-message">
      <h1>Benvenuto in SIW Books!</h1>
      <h3>Registrati o Accedi per scoprire il nostro mondo letterario</h3>
      <button id="register" onclick="location.href='/register'">Registrati</button>
      <button id="login" onclick="location.href='/login'">Accedi</button>
    </div>
    <div class="actions">
      <h3>📖 Scopri la nostra collezione di libri</h3>
      <button id="libri" class="action-btn" onclick="location.href='/book'">Libri</button>
      <h3>✍️ Conosci i nostri autori</h3>
      <button id="autori" class="action-btn" onclick="location.href='/author'">Autori</button>
    </div>
</body>
</html>