<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_index.css">
    <title>Index</title>
</head>
<body>
   <header>
    <h1>📚 Benvenuto in SIW Books!</h1>
    <h3>Registrati o Accedi per scoprire il nostro mondo letterario</h3>
    <button id="register" onclick="location.href='/register'">Registrati</button>
    <button id="login" onclick="location.href='/login'">Accedi</button>
  </header>

  <section>
    <div class="row">
      <h3>📖 Scopri la nostra collezione di libri</h3>
      <button id="libri" class="action-btn" onclick="location.href='/libri'">Libri</button>
    </div>
    <div class="row">
      <h3>✍️ Conosci i nostri autori</h3>
      <button id="autori" class="action-btn" onclick="location.href='/autori'">Autori</button>
    </div>
  </section>
</body>
</html>